* {
    padding: 0;
    margin: 0;

}

nav {
    background-color: #FAFAFA;
    height: 100px;

}

nav .logo {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    margin-left: 30px;
    color: #13134B;

}
nav p{
    color: black;
}
nav a{
    text-decoration: none;
}
.Content :where(p) {
    font-size: 18px;
    margin-left: 25px;
}

.btn-dark-outline {
    /* border: 2px solid #13134B; */
    background-color: #13134B;
    color: white;
}

.btn-dark-outline:hover {
    background-color: white;
    color: #13134B;
    border: 1px solid #13134B;
}

.passion {
    height: 85vh;
}

.passion .headerPassion {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}

.passion .passionInfo {
    font-size: 19px;
}

.passion .arrowpassion {
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    position: absolute;
}


.imgWrapper img {
    max-width: 60%;

}



.quating {
    position: relative;
    height: 50vh;
    background-color: #F6F6F6;
}

.quating p {
    font-weight: 500;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quating .leftQuating {
    transform: rotate(180deg);
    position: absolute;
    left: 7%;
    top: 8%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.quating .rightQuating {
    position: absolute;
    right: 7%;
    bottom: 8%;
    width: 50px;
    height: 50px;
    object-fit: cover;

}

.footer {
    min-height: 50vh;
}

.footerLogo .mainLogo {
    margin-top: 15px;
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;

}

.footer .myServiece {
    font-size: 2rem;
    margin-top: 70px;
}

.footer ul li {
    margin-top: 7px;
    font-size: 19px;
    list-style-type: circle;
}

.footer .watsup,
.email,
.phone p {
    font-size: 17px;
    margin-top: 7px;
    font-family: 'Inter', sans-serif;

}

.sideMenu {
    position: fixed;
    height: 100vh;
    width: 80%;
    background-color: rgb(245, 245, 245);
    top: 0;
    left: -800px;
    transition: all 0.5s ease;

}
.sideMenu p{
    color: black;
}
.sideMenu a{
    text-decoration: none;
}
.logoNew {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    margin-left: 30px;
    color: #13134B;
    flex: 2;
}

.menuContents {
    flex: 10;
}

.menuContents p {
    font-weight: 500;
    font-size: 19px;
}

.logosSection {
    flex: 8;
}

.myProject .project1 {
    /* overflow: hidden; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.myProject .infoProject {

    background-color: rgba(255, 255, 245);
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    gap: 10px;
    transition: all 0.8s ease-in;
}

.project1:hover .infoProject {
    bottom: 20px;
}

.infoProject h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-left: 20px;

}
.infoProject button{
    margin-left: 20px;
}

.infoProject p {
    text-transform: capitalize;
    margin: 0 15px;

}

@media (min-width: 768px) {
    .passion {
        height: 50vh;
    }

    .quating p {
        font-size: 38px;
    }

    .passion .arrowpassion {

        width: 90px;
        height: 90px;
    }

    .myProject .project1 {
        overflow: hidden;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .myProject .infoProject {
        position: absolute;
        bottom: -400px;
        background-color: rgba(255, 255, 245);
        height: 85%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition: all 0.8s ease-in;
    }

    .project1:hover .infoProject {
        bottom: 20px;
    }


}